<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>profile_picture</key>
		<string>talor_levy.jpeg</string>
		<key>first_name</key>
		<string>Talor</string>
		<key>last_name</key>
		<string>Levy</string>
		<key>phone_number</key>
		<string>333-333-3333</string>
		<key>email</key>
		<string>talorlevy@madeupemail.org</string>
	</dict>
	<dict>
		<key>profile_picture</key>
		<string>stephen_curry.jpeg</string>
		<key>first_name</key>
		<string>Stephen</string>
		<key>last_name</key>
		<string>Curry</string>
		<key>phone_number</key>
		<string>202-020-2020</string>
		<key>email</key>
		<string>stephencurry@madeupemail.org</string>
	</dict>
	<dict>
		<key>profile_picture</key>
		<string>michael_jackson.jpeg</string>
		<key>first_name</key>
		<string>Michael</string>
		<key>last_name</key>
		<string>Jackson</string>
		<key>phone_number</key>
		<string>111-111-1111</string>
		<key>email</key>
		<string>michaeljackson@madeupemail.org</string>
	</dict>
	<dict>
		<key>profile_picture</key>
		<string>bob_marley.jpeg</string>
		<key>first_name</key>
		<string>Bob</string>
		<key>last_name</key>
		<string>Marley</string>
		<key>phone_number</key>
		<string>777-777-7777</string>
		<key>email</key>
		<string>bobmarley@madeupemail.org</string>
	</dict>
	<dict>
		<key>profile_picture</key>
		<string>conor_mcgregor.png</string>
		<key>first_name</key>
		<string>Conor</string>
		<key>last_name</key>
		<string>McGregor</string>
		<key>phone_number</key>
		<string>555-555-5555</string>
		<key>email</key>
		<string>conormcgregor@madeupemail.org</string>
	</dict>
	<dict>
		<key>profile_picture</key>
		<string>michael_jordan.png</string>
		<key>first_name</key>
		<string>Michael</string>
		<key>last_name</key>
		<string>Jordan</string>
		<key>phone_number</key>
		<string>232-323-2323</string>
		<key>email</key>
		<string>michaeljordan@madeupemail.org</string>
	</dict>
	<dict>
		<key>profile_picture</key>
		<string>julius_caesar.webp</string>
		<key>first_name</key>
		<string>Julius</string>
		<key>last_name</key>
		<string>Caesar</string>
		<key>phone_number</key>
		<string>999-999-9999</string>
		<key>email</key>
		<string>juliuscaesar@madeupemail.org</string>
	</dict>
	<dict>
		<key>profile_picture</key>
		<string>mozart.webp</string>
		<key>first_name</key>
		<string>Wolfgang</string>
		<key>last_name</key>
		<string>Mozart</string>
		<key>phone_number</key>
		<string>222-222-2222</string>
		<key>email</key>
		<string>wolfgangmozart@madeupemail.org</string>
	</dict>
</array>
</plist>
